* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: antiquewhite;
}

h2,
h3 {
    color: #00c60a;
}

footer {
    padding: 20px;
    color: white;
    background-color: #00c60a;
    text-align: center;
    font-weight: bold;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
}

.profile header {
    text-align: center;
}

.featured-image {
    width: 50%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile img {
    width: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: darkolivegreen;
    text-align: center;
    color: white;
    position: relative;
    z-index: 2;
}

.jumbotron img {
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 10%;
    text-align: center;
    color: white;
    padding: 0px;
    position: relative;
    z-index: 1;
}

nav li {
    list-style-type: none;
}

nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 2rem;
}

nav {
    background-color: #04980c;
    padding: 5px;
    position: sticky;
    top: 0;
}

main {
    padding: 20px;
    display: flex;
    gap: 1.5rem;
    background-color: white;
}

#content {
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

aside {
    flex: 1;
    text-align: center;
}

#kontak figure img {
    width: 150px;
}

header {
    display: inline;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #e5ece5;
}

.slider-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    transition: 0.5s;
}

.slide {
    min-width: 100%;
}

.slide img {
    width: 50%;
    height: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    z-index: 1000;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


/* Perangkat dengan lebar layar 1200px dan di bawahnya */

@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }
    main aside {
        align-self: center;
    }
}


/* Perangkat dengan lebar layar 768px dan di bawahnya */

@media screen and (max-width: 768px) {
    nav ul {
        justify-content: center;
    }
    main aside {
        align-self: stretch;
    }
}